[submodule "counter/lib/forge-std"]
	path = counter/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "simple-token/lib/forge-std"]
	path = simple-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "simple-token/lib/openzeppelin-contracts"]
	path = simple-token/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
